<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
   
    <div class="container right-panel-active">
       
    
        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/sign_in" class="form" id="form2" method="POST">
                <h2 class="form__title">Sign In</h2>
                <input type="email" placeholder="Email" class="input" name="email" required/>
                <input type="password" placeholder="Password" class="input" name="password" required/>
                <a href="/index" class="link">Forgot your password?</a>
                <button type="submit" class="btn"> <a href="/welcome" >Sign In</a></button>
            </form>
        </div>
    
        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                   
                </div>
                
                </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
    
</body>
</html>